<!-- Bootstrap Static Header -->
<div class="jumbotron bg-cover text-white">
    <div class="container py-3 text-center">
      <h1 *ngIf="isHome" class="display-4 font-weight-bold text-center">Bienvenido a FARMAVIP</h1>
      <!-- <h1 *ngIf="isFacturar" class="display-4 font-weight-bold text-center">FACTURACION</h1>
      <h1 *ngIf="isSell" class="display-4 font-weight-bold text-center">VENTA</h1>
      <h1 *ngIf="isDespacho" class="display-4 font-weight-bold text-center">DESPACHO</h1>
      <h1 *ngIf="isRecibirStock || isGuardarStock" class="display-4 font-weight-bold text-center">STOCK</h1>
      <h1 *ngIf="isVerClientes" class="display-4 font-weight-bold text-center">CLIENTES</h1>
      <h1 *ngIf="refreshListOffer" class="display-4 font-weight-bold">LISTADO DE PRECIOS</h1>
      <h1 *ngIf="refreshListDiscount" class="display-4 font-weight-bold">LISTADO DE DESCUENTOS</h1>
      <h1 *ngIf="isListProducts || isListProds" class="display-4 font-weight-bold">LISTADO DE PRODUCTOS</h1>
      <h1 *ngIf="isListInvoice" class="display-4 font-weight-bold">LISTADO DE FACTURAS</h1>
      <h1 *ngIf="isDispoLocker" class="display-4 font-weight-bold">DISPONIBILIDAD DE LOCKER</h1>
      <h1 *ngIf="isUploadProducts" class="display-4 font-weight-bold">INGRESAR PRODUCTOS</h1> -->
    </div>
  </div>
  
  <!-- Vertical navbar -->
  <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media mx-3 d-flex align-items-center">
        <img *ngIf="user.nombre_rol == 'ADM'" src="../../../assets/perfil_1.png" alt="..." width="65"
          class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <img *ngIf="user.nombre_rol == 'VET'" src="../../../assets/perfil_2.png" alt="..." width="65"
          class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <img *ngIf="user.nombre_rol == 'OPE'" src="../../../assets/perfil_3.png" alt="..." width="65"
          class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <img *ngIf="user.nombre_rol == 'WAREHOUSE_MANAGER'" src="../../../assets/perfil_4.png" alt="..." width="65"
          class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body mx-3">
          <h4 class="m-0">{{ user.usuario }}</h4>
          <p class="font-weight-light text-muted mb-0">{{ user.nombre_rol }}</p>
        </div>
      </div>
      <div>
        <button class="btn mx-3" (click)="logOut()"><b>Cerrar Sesión</b></button>
      </div>
    </div>
  
    <div class="sc">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">INICIO</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic bg-light" (click)="home()">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Acerca de
        </a>
      </li>
    </ul>
  
    <!-- <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">PRODUCTOS</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="uploadProducts()">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Cargar Productos
        </a>
      </li>
    </ul>
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="listProducts()">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Consultar Productos
        </a>
      </li>
    </ul>
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">VENTAS</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="sell()">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Orden de Venta
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="facturar()">
          <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
          Facturación
        </a>
      </li>
  
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="despacho()">
          <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
          Despacho
        </a>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">STOCK</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="recibirStock()">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Recibir Stock
        </a>
      </li>
    </ul>
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="guardarStock()">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Almacenar Stock
        </a>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">CLIENTES</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="verClientes()">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Consultar Clientes
        </a>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">REPORTES</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="listOffer()">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Listado de Precios
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="listDiscount()">
          <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
          Listado de Descuentos
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="dispoLocker()">
          <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
          Disponibilidad por Locker
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-dark font-italic" (click)="listProds()">
          <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
          Listado de Productos
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="listInvoice()">
          <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
          Listado de Facturas
        </a>
      </li> -->
    <!-- </ul> -->
  </div>
    </div>
  <!-- End vertical navbar -->
  
  <!-- Page content holder -->
  
  <div class="page-content p-5" id="content">
    <!-- <app-home *ngIf="isHome"></app-home>
    <app-bill-order *ngIf="isFacturar"></app-bill-order>
    <app-create-sale-order *ngIf="isSell"></app-create-sale-order>
    <app-list-offer *ngIf="refreshListOffer"></app-list-offer>
    <app-list-discount *ngIf="refreshListDiscount"></app-list-discount>
    <app-despacho *ngIf="isDespacho"></app-despacho>
    <app-list-customer *ngIf="isVerClientes"></app-list-customer>
    <app-recibir-stock *ngIf="isRecibirStock"></app-recibir-stock>
    <app-bar-graphic *ngIf="isDispoLocker" ></app-bar-graphic>
    <app-list-products *ngIf="isListProducts"></app-list-products>
    <app-upload-products *ngIf="isUploadProducts"></app-upload-products>
    <app-guardar-stock *ngIf="isGuardarStock"> </app-guardar-stock>
    <app-stock-por-producto *ngIf="isListProds" ></app-stock-por-producto>
    <app-list-invoice *ngIf="isListInvoice"></app-list-invoice> -->
  </div>
  <!-- End demo content -->
